<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngIf="oSelectedMachine">
            <form [formGroup]="machineFleetForm" (ngSubmit)="onSubmit()">
                <!-- <div class="form-group">
                    <label for="id" style="font-weight: bold;">GUID</label>
                    <input type="text" class="form-control" id="id" formControlName="id"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['id'].errors}" />

                    <div *ngIf="submitted && machineFleetForm.controls['id'].errors" class="text-danger">
                        <div *ngIf="submitted && machineFleetForm.controls['id'].errors['required']">
                            [ID] is required !
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="name" style="font-weight: bold;">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['id'].errors}" />

                    <div *ngIf="submitted && machineFleetForm.controls['name'].errors" class="text-danger">
                        <div *ngIf="submitted && machineFleetForm.controls['name'].errors['required']">
                            [Name] is required !
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" style="font-weight: bold;">Status</label>
                    <input id="status" class="form-control" formControlName="status" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['status'].errors}" />
                    <div *ngIf="submitted && machineFleetForm.controls['status'].errors" class="text-danger">
                        <div *ngIf="submitted && machineFleetForm.controls['status'].errors['required']">
                            [Status] is required !
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="performance" style="font-weight: bold;">Performance</label>
                    <input id="performance" class="form-control" formControlName="performance" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['performance'].errors}" />

                    <div *ngIf="submitted && machineFleetForm.controls['performance'].errors" class="text-danger">
                        <div *ngIf="submitted && machineFleetForm.controls['performance'].errors['required']">
                            [Performance] is required !
                        </div>
                    </div>
                </div>

                <div formArrayName="performanceLog">
                    <label>Performance Log:</label>
                    <!-- Add logic to dynamically add/remove items -->
                </div>

                <div formArrayName="errors">
                    <label>Errors:</label>
                    <!-- Add logic to dynamically add/remove items -->
                </div>

                <div formArrayName="errorHistory">
                    <label>Error History:</label>
                    <!-- Add logic to dynamically add/remove items -->
                </div>

                <div class="form-group">
                    <label for="producedParts" style="font-weight: bold;">Produced Parts</label>
                    <input id="producedParts" class="form-control" formControlName="producedParts" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['producedParts'].errors}" />

                    <div *ngIf="submitted && machineFleetForm.controls['producedParts'].errors" class="text-danger">
                        <div *ngIf="submitted && machineFleetForm.controls['producedParts'].errors['required']">
                            [Produced Parts] is required !
                        </div>
                    </div>
                </div>

                <br>
                <fieldset formGroupName="production">
                    <legend style="font-style: italic;">Production</legend>
                    <div class="form-group">
                        <label for="currentProduct" style="font-weight: bold;">Current Product</label>
                        <input id="currentProduct" class="form-control" formControlName="currentProduct" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['currentProduct'].errors}" />

                        <div *ngIf="submitted && machineFleetForm.controls['currentProduct'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['currentProduct'].errors['required']">
                                [Current Product] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="partsInBatch" style="font-weight: bold;">Parts in Batch</label>
                        <input id="partsInBatch" class="form-control" formControlName="partsInBatch" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['partsInBatch'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['partsInBatch'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['partsInBatch'].errors['required']">
                                [Parts in Batch] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="partsCompleted" style="font-weight: bold;">Parts Completed</label>
                        <input id="partsCompleted" class="form-control" formControlName="partsCompleted" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['partsCompleted'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['partsCompleted'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['partsCompleted'].errors['required']">
                                [Parts Completed] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="batchStartTime" style="font-weight: bold;">Batch Start Time</label>
                        <input id="batchStartTime" class="form-control" formControlName="batchStartTime" type="datetime-local"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['batchStartTime'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['batchStartTime'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['batchStartTime'].errors['required']">
                                [Batch Start Time] is required !
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset formGroupName="details">
                    <legend style="font-style: italic;">Details</legend>
                    <div class="form-group">
                        <label for="manufacturer" style="font-weight: bold;">Manufacturer</label>
                        <input id="manufacturer" class="form-control" formControlName="manufacturer" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['manufacturer'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['manufacturer'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['manufacturer'].errors['required']">
                                [Manufacturer] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="modelNumber" style="font-weight: bold;">Model Number</label>
                        <input id="modelNumber" class="form-control" formControlName="modelNumber" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['modelNumber'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['modelNumber'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['modelNumber'].errors['required']">
                                [Model Number] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastMaintenance" style="font-weight: bold;">Last Maintenance</label>
                        <input id="lastMaintenance" class="form-control" formControlName="lastMaintenance" type="date"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['lastMaintenance'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['lastMaintenance'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['lastMaintenance'].errors['required']">
                                [Last Maintenance] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="location" style="font-weight: bold;">Location</label>
                        <input id="location" class="form-control" formControlName="location" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['location'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['location'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['location'].errors['required']">
                                [Location] is required !
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset formGroupName="liveSensors">
                    <legend>Live Sensors</legend>
                    <div class="form-group">
                        <label for="temperatureC" style="font-weight: bold;">Temperature (°C)</label>
                        <input id="temperatureC" class="form-control" formControlName="temperatureC" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['temperatureC'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['temperatureC'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['temperatureC'].errors['required']">
                                [Temperature] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="vibrationLevel" style="font-weight: bold;">Vibration Level</label>
                        <input id="vibrationLevel" class="form-control" formControlName="vibrationLevel" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['vibrationLevel'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['vibrationLevel'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['vibrationLevel'].errors['required']">
                                [Vibration Level] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="powerConsumptionKw" style="font-weight: bold;">Power Consumption (kW)</label>
                        <input id="powerConsumptionKw" class="form-control" formControlName="powerConsumptionKw" type="number"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['powerConsumptionKw'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['powerConsumptionKw'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['powerConsumptionKw'].errors['required']">
                                [Power Consumption] is required !
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset formGroupName="currentShift">
                    <legend>Current Shift</legend>
                    <div class="form-group">
                        <label for="operatorName" style="font-weight: bold;">Operator Name</label>
                        <input id="operatorName" class="form-control" formControlName="operatorName" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['operatorName'].errors}"/>
                        <div *ngIf="submitted && machineFleetForm.controls['operatorName'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['operatorName'].errors['required']">
                                [Operator Name] is required !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shift" style="font-weight: bold;">Shift</label>
                        <input id="shift" class="form-control" formControlName="shift" type="text"
                        [ngClass]="{'is-invalid':submitted && machineFleetForm.controls['shift'].errors}" />
                        <div *ngIf="submitted && machineFleetForm.controls['shift'].errors" class="text-danger">
                            <div *ngIf="submitted && machineFleetForm.controls['shift'].errors['required']">
                                [Shift] is required !
                            </div>
                        </div>
                    </div>
                </fieldset>

                <br>
                <div style="display: flex;">
                    <div style="margin-right: 6%;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div style="margin-right: 6%;">
                        <button type="button" class="btn btn-danger" (click)="onCloseForm()">Close</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning" (click)="onResetForm()">Clear</button>
                    </div>
                </div>
            </form>
        </div>

        <div [ngClass]="{'col-sm-9':oSelectedMachine, 'col-sm-12':!oSelectedMachine}">
            <div style="float: inline-end;">
                <button class="btn btn-success" (click)="onNewMachine()">New Machine</button>
            </div>
            <table class="table table-light table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Performance</th>
                        <th>Produced Parts</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let machine of machineFleet" (click)="onSelectMachine(machine)">
                        <td>{{ machine.id }}</td>
                        <td>{{ machine.name }}</td>
                        <td>{{ machine.status }}</td>
                        <td>{{ machine.performance }}</td>
                        <td>{{ machine.producedParts }}</td>
                        <td>
                            <div>
                                <div style="float: left;">
                                    <button (click)="onUpdateMachine(machine)"
                                        class="text-dark btn btn-sm btn-outline-warning">Update</button>
                                </div>
                                <div style="float: inline-start;">
                                    <button (click)="onDeleteMachine(machine)"
                                        class="btn btn-sm btn-outline-danger">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>

    </div>

</div>