div.single-input.label-above label {
    position: static;
    font-size: 12px;
    color: rgb(100, 155, 197);
    margin-bottom: 1px;
    transform: none;
    transition: none;
}

div.single-input.label-above .input {
    margin-top: 1px;
    color: #000;
}

div.single-input .input:focus,
div.single-input .input:valid  {
    border-bottom: 2px solid rgb(100, 155, 197);
}

legend {
    font-size: 17px;
    font-weight: 600;
    color: rgb(100, 155, 197);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }
  