/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* text-align: center; */
    padding: 0 20px;
    /* overflow: hidden; */
    position: relative;
    z-index: 0;
    transition: 0.5s ease-in-out;
    /* background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGJsdXUlMjB3aGl0ZXxlbnwwfHx8fDE2ODQ5NTY1NzM&ixlib=rb-4.0.3&q=80&w=1080"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    width: 100%;
    max-width: 100%;
}

div.single-input {
    width: 100%;
    margin: 30px 0;
    position: relative;
}

div.single-input label {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

div.single-input .input {
    width: 100%;
    padding: 5px;
    color: rgb(150, 150, 150);
    border: 0;
    border-bottom: 2px solid rgb(200, 200, 200);
    outline: 0;
    font-size: 16px;
}


